<html>

  <head>
  
    <meta charset="UTF-8">
    <title>Главная</title>
    
     <link href="../../static/style1.css" type="text/css" rel="stylesheet">
     
  </head>
  
  <body>

    <header>
      <img src="../../static/airling1.png">
    </header>

    <div class="side--wrapper">
       <div class="left-side">

        <table>

          <th colspan="3">Список аэропортов</th>
 {% for air in air_list %}
        <tr>
        {% if air.0 != 0 %}
            <td>
                    <a href="{% url 'air_detail_url' air.0.id %}">
                         {{ air.0.name }}
                     </a>
            </td>
        {% endif %}
            {% if air.1 != 0 %}
             <td>
                    <a href="{% url 'air_detail_url' air.1.id %}">
                         {{ air.1.name }}
                    </a>
             </td>
            {% endif %}
            {% if air.2 != 0 %}
            <td>
                    <a href="{% url 'air_detail_url' air.2.id %}">
                         {{ air.2.name }}
                     </a>
             </td>
            {% endif %}
        </tr>
    {% endfor %}
        </table>

      </div>
    
      <div class="right-side">
         {% if "id" not in request.session %}
             <p>
             <button>
               <a href="/login/">Авторизация</a>
             </button>
             </p>
             <p>
             <button>
               <a href="/add_user/">Регистрация</a>
             </button>
             </p>

         {% else %}
             <button>
                 <a href="/account/">
                    {{ request.session.login }}
                 </a>
             </button>
             <p>
                 <button>
                 <a href="/logout">
                     Выйти
                 </a>
                </button>

             </p>
         {% endif %}
        
      </div>
    </div>
   
    
  </body>
</html>

