<html>
<head>
<meta charset="UTF-8">
<title>Авторизация</title>
</head>
<link href="../../static/style.css" type="text/css" rel="stylesheet">
<header>
<img src="../../static/airling1.png">
<h1> Авторизация: </h1>
</header>
<body>
<div class="table">
{% if request.session %}
{% endif %}
 <form action="/login/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><input type="submit" value="Войти"/></br>
    </form>
    </div>
{% if error  == 'Неправильно введён логин или пароль' %}
    <p>
    {{ error }}
    </p>
{% endif %}
<button>
    <a href="/">
        Назад
    </a>
</button>
</body>
</html>