<html>
<head>
<meta charset="UTF-8">
<title>
    {% if 'id' in request.session %}
        Добавление модератора
    {% else %}
        Регистрация
    {% endif %}
</title>
</head>
<link href="../../static/style.css" type="text/css" rel="stylesheet">
<header>
<img src="../../static/airling1.png">
<h1>
    {% if 'id' in request.session %}
        Добавление модератора
    {% else %}
        Регистрация
    {% endif %}:
</h1>
</header>
<body>
<div class="table">
 <form action="/add_mod/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><input type="submit" value="Регистрация"/></br>
    </form>
    </div>
{% if error  == 'Пользователь уже зрегистрирован' %}
    <p>
    {{ error }}
    </p>
{% endif %}
<button>
    <a href="/">
        Назад
    </a>
</button>
</body>
</html>